# Ham or Spam?

In [96]:
# when installing nltk for the first time we need to also download a few built in libraries
!pip install nltk
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

Requirement already satisfied: nltk in /Users/shu/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (3.6.7)
Requirement already satisfied: regex>=2021.8.3 in /Users/shu/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from nltk) (2021.11.10)
Requirement already satisfied: click in /Users/shu/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from nltk) (8.0.1)
Requirement already satisfied: joblib in /Users/shu/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from nltk) (1.0.1)
Requirement already satisfied: tqdm in /Users/shu/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from nltk) (4.62.3)

[nltk_data] Downloading package stopwords to /Users/shu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/shu/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/shu/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [97]:
import pandas as pd

df = pd.read_csv("emails.csv")

df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [98]:
y=df.spam

The dataset is made up of email that are classified as ham [0] or spam[1]. You need to clean the dataset before training a prediction model.

## Remove Punctuation

👇 Create a function to remove the punctuation. Apply it to the entire data and add the output as a new column in the dataframe called `clean_text`

In [116]:
#
import string 

def remove(row):
    for punctuation in string.punctuation:
        row=row.replace(punctuation, ' ') 
    return row
df["clean_text"]=df.text.apply(remove)

In [117]:
df.head()

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,Subject naturally irresistible your corporate...
1,Subject: the stock trading gunslinger fanny i...,1,Subject the stock trading gunslinger fanny i...
2,Subject: unbelievable new homes made easy im ...,1,Subject unbelievable new homes made easy im ...
3,Subject: 4 color printing special request add...,1,Subject 4 color printing special request add...
4,"Subject: do not have money , get software cds ...",1,Subject do not have money get software cds ...

## Lower Case

👇 Create a function to lower case the text. Apply it to `clean_text`

In [118]:
def lower_case(row):
    row=row.lower()
    return row

df["clean_text"]=df.clean_text.apply(lower_case)

In [119]:
df.head()

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,subject naturally irresistible your corporate...
1,Subject: the stock trading gunslinger fanny i...,1,subject the stock trading gunslinger fanny i...
2,Subject: unbelievable new homes made easy im ...,1,subject unbelievable new homes made easy im ...
3,Subject: 4 color printing special request add...,1,subject 4 color printing special request add...
4,"Subject: do not have money , get software cds ...",1,subject do not have money get software cds ...

## Remove Numbers

👇 Create a function to remove numbers from the text. Apply it to `clean_text`

In [120]:


def remove_num(row):
    clean_text="".join([word for word in row if not word.isdigit()])
    return clean_text

df["clean_text"]=df["clean_text"].apply(remove_num)

In [121]:
df["clean_text"].head()

0    subject  naturally irresistible your corporate...
1    subject  the stock trading gunslinger  fanny i...
2    subject  unbelievable new homes made easy  im ...
3    subject   color printing special  request addi...
4    subject  do not have money   get software cds ...
Name: clean_text, dtype: object

## Remove StopWords

👇 Create a function to remove stopwords from the text. Apply it to `clean_text`.

In [122]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

def rem_stopword(clean_text):
    stop_words=set(stopwords.words("english"))
    word_tokens = word_tokenize(clean_text)
    clean_text=[w for w in word_tokens if not w in stop_words]
    return clean_text

df["clean_text"]=df["clean_text"].apply(rem_stopword)

In [123]:
df.head()

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,"[subject, naturally, irresistible, corporate, ..."
1,Subject: the stock trading gunslinger fanny i...,1,"[subject, stock, trading, gunslinger, fanny, m..."
2,Subject: unbelievable new homes made easy im ...,1,"[subject, unbelievable, new, homes, made, easy..."
3,Subject: 4 color printing special request add...,1,"[subject, color, printing, special, request, a..."
4,"Subject: do not have money , get software cds ...",1,"[subject, money, get, software, cds, software,..."

In [124]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /Users/shu/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

## Lemmatize

👇 Create a function to lemmatize the text. Make sure the output is a single string, not a list of words. Apply it to `clean_text`.

In [126]:

# from nltk.stem.proster import ProsterStemmer
# stemmer = ProsterStemmer
import nltk

from nltk.stem import WordNetLemmatizer

#this is series! not like a lecture make a fuction and apply
def lemmatize_fun(data):
    lemmatizer=WordNetLemmatizer()
    lemmetized=[lemmatizer.lemmatize(word) for word in data]
    lemmatize_string=" ".join(lemmetized)
    return lemmatize_string

df["clean_text"]=df["clean_text"].apply(lemmatize_fun)

In [130]:
df.head()

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,subject naturally irresistible corporate ident...
1,Subject: the stock trading gunslinger fanny i...,1,subject stock trading gunslinger fanny merrill...
2,Subject: unbelievable new homes made easy im ...,1,subject unbelievable new home made easy im wan...
3,Subject: 4 color printing special request add...,1,subject color printing special request additio...
4,"Subject: do not have money , get software cds ...",1,subject money get software cd software compati...

## Bag-of-words Modelling

👇 Vectorize the `clean_text` to a Bag-of-Words representation with a default CountVectorizer . Save as `X_bow`.

In [131]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()
x=vectorizer.fit_transform(df.clean_text)
X_bow=x.toarray()
X_bow

#need to be data frame?

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

👇 Cross-validate a MultinomialNB model with the Bag-of-words. Score the model's accuracy.

In [132]:
from sklearn.model_selection import GridSearchCV
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_validate
NB_model=MultinomialNB()

result=cross_validate(NB_model, X_bow, df.spam, cv=5,
               scoring='accuracy')

result



# grid_values={"nb_alpa":[0.1,1],}

# grid_search=GridSearchCV(NB_model,grid_values,n_jobs=-1,
#                          verbose=1,scoring="accuracy",
#                         refit=True,cv=3)

# grid_search.fit(X_bow,y)

#compare X_bow and what?

{'fit_time': array([4.60146403, 3.98246717, 4.1026938 , 4.01813412, 3.82901025]),
 'score_time': array([0.42644405, 0.40223312, 0.41041827, 0.43177485, 0.40820193]),
 'test_score': array([0.98691099, 0.9895288 , 0.991274  , 0.98777293, 0.99213974])}

In [133]:
result["score_time"].mean()

0.4158144474029541

⚠️ Please push the exercise once you are done 🙃

## 🏁

In [ ]:
fun
fun(arg)

In [ ]:
apply(fun)